<div class="action-buttons">
  <button class='primary' type="submit">
  <% if @is_last_step %>
    <span>Complete</span>
  <% else %>
    <span>Continue</span>
  <% end %>
  </button>
  <% unless @is_last_step %>
  <button type="button" class='secondary'><a href="/app/wizard/<%= params[:step].to_i + 1 %>"><span>Skip <i class="fa fa-step-forward"></i></span></a></button>
  <% end %>
</div>