<div class="action-buttons">
  <button class='primary' type="submit"><span>Save</span></button>
  <button type="button" class='secondary'><a href="/wizard/<%= params[:step].to_i + 1 %>"><span>Skip <i class="fa fa-step-forward"></i></span></a></button>
</div>