<section>
  <%= erb :"wizard/_step_header" %>

  <h2>Do you have any guidance for what channels to use for different topics or types of discussion?</h2>
  <p>If not, you can find some recommendations on the <a href="https://get.slack.help/hc/en-us/articles/217626408-Organize-and-name-channels">"Getting Started" Slack guide</a>.</p>

  <form action="/wizard/next" method="post">
    <input type="hidden" name="step" value="<%= params[:step] %>"></input>

    <label>Channel Guidance:</label>
    <textarea name="guidance"></textarea>

    <%= erb :"wizard/_buttons" %>
  </form>
</section>