<section>
  <%= erb :"wizard/_step_header" %>

  <h2>Would you rather your team avoid interruptions?</h2>
  <p>Aloha can request new members use <strong>@here</strong> rather than <strong>@channel</strong>, and public mentions over private messages, to avoid interrupting offline users with notifications.</p>

  <form action="/wizard/next" method="post">
    <input type="hidden" name="step" value="<%= params[:step] %>"></input>

    <% checked = session[:wizard][:interruptions] == 'on' ? 'checked' : nil %>
    <label><input type="checkbox" name="interruptions" <%= checked %>></input> Minimize Interruptions</label>

    <%= erb :"wizard/_buttons" %>
  </form>
</section>