<section class="floated-header">
  <h2>Your Onboarding Messages</h2>
  <button class="add-btn"><a href="/messages/new"><span>New Message</span></a></button>
</section>
<% @message_groups.each_pair do |delay, messages| %>
<section>
  <h3><%= readable_delay(delay) %></h3>
  <% messages.each_with_index do |message, index| %>
    <% unless index == 0 %>
    <hr>
    <% end %>
    <div class="message">
      <%= content_as_html(message) %>
    </div>
    <div class="action-buttons">
      <button><a href="/messages/<%= message.id || '' %>"><span>Edit</span></a></button>
      <form action="/messages/<%= message.id %>?method=delete" method="post">
        <button><span>Delete</span></button>
      </form>
    </div>
  <% end %>
</section>
<% end %>