<section class="floated-header">
  <h2>Your Onboarding Messages</h2>
  <button><span>New Message</span></button>
</section>
<section>
  <h3><%= readable_delay(@messages.first) %></h3>
  <% @messages.each_with_index do |message, index| %>
    <% unless index == 0 %>
    <hr>
    <% end %>
    <div class="message">
      <%= content_as_html(message) %>
    </div>
  <% end %>
</section>