<section class="floated-header">
  <h2>Your Onboarding Messages</h2>
  <button class="add-btn primary">
    <a href="/messages/new">
      <span><i class="fa fa-lg fa-plus-circle"></i> New Message</span>
    </a>
  </button>
</section>
<% @message_groups.each_pair do |delay, messages| %>
<section>
  <h3><%= readable_delay(delay) %></h3>
  <% messages.each_with_index do |message, index| %>
    <% unless index == 0 %>
    <hr>
    <% end %>
    <div class="message">
      <%= content_as_html(message) %>
    </div>
    <div class="action-buttons">
      <button class="link-btn"><a href="/messages/<%= message.id || '' %>"><span><i class="fa fa-pencil-square-o"></i> Edit</span></a></button>
      <form action="/messages/<%= message.id %>" method="post">
        <input type="hidden" name="_method" value="delete"></input>
        <button class="link-btn destructive"><span><i class="fa fa-trash-o"></i> Delete</span></button>
      </form>
    </div>
  <% end %>
</section>
<% end %>