html {
  height: 100%;
  box-sizing: border-box;
  font-size: 1em;
  @media screen and (max-width: $break-medium) {
    font-size: 0.8em;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 20rem;
  min-height: 100%;

  background: $background-color;
  font-family: $text-font;
  font-weight: 400;
  line-height: 1.45;
  color: #333;

  @media screen and (max-width: $break-small) {
    padding-bottom: 22rem;
  }
}

p, li {
  font-size: $m-font-size;
}

hr {
  border: 0.5px solid transparentize($button-color, 0.75);
}

section p,
section ol,
section ul {
  margin-bottom: $s-font-size;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.1;
  margin-bottom: $base-measure/8;
}

h1 {
  font-family: $logo-font;
}

h2, h3, h4 {
  font-family: $text-font;
  font-weight: $black-weight;
}

h1 {
  font-size: $xxxl-font-size;
}

h2 {font-size: $xl-font-size}

h3 {font-size: $l-font-size}

h4 {font-size: $m-font-size}

ol,
ul {
  padding-left: $base-measure * 2;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: circle;
}

.small {
  font-size: $xs-font-size;
}

strong {
  font-weight: $bold-weight;
}

code {
  font-family: Courier, monospace;
  color: $button-color;
  font-weight: bold;
}

section, header {
  @extend .clearfix;

  max-width: 1080px;
  margin: 0 auto;
  padding: 0 $base-measure * 4;
  @media screen and (max-width: $break-small) {
    padding: 0 $base-measure;
  }
}

section {
  margin-top: $base-measure * 4;
  header + & {
    margin-top: $base-measure * 2;
  }
  @media screen and (max-width: $break-small) {
    margin-top: $base-measure * 3;
  }
}

input, textarea, select, button {
  border: none;
}

input,
textarea,
select {
  font-size: $m-font-size;
}

input,
textarea {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

input[type=submit], button {
  @include border-radius($base-measure/2);
  background-color: $button-color;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  color: $reverse-color;
  cursor: pointer;
  display: block;
  font-size: $s-font-size;
  font-weight: $bold-weight;
  padding: $base-measure / 4 $base-measure;
  text-align: center;
  text-decoration: none;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  a {
    color: $reverse-color;
  }

  span {
    display: inline-block;
    line-height: 1.7;
  }

  &:hover {
    background-color: $button-hover-color;
  }
}

input[type='checkbox'] {
  @include border-radius($base-measure / 8);
  margin-bottom: -1 * $base-measure / 16;
  margin-right: $base-measure / 8;
  -webkit-appearance: none;
  background: $reverse-color;
  border: 2px solid $button-color;
  width: $base-measure / 2;
  height: $base-measure / 2;
}

input[type='checkbox']:checked:before {
  float: left;
  content: "\2714";
  font-size: 50%;
  width: 100%;
  text-align: center;
}

input, textarea {
  padding: $base-measure/2;
  margin-top: $base-measure / 4;
  box-sizing: border-box;
}

textarea {
  height: 10em;
  display: block;
  width: 100%;
}

label {
  font-weight: $black-weight;
  font-size: $l-font-size;
  margin-right: $base-measure/4;
}

form div {
  margin-bottom: $base-measure;
}

.bottom {
  margin-bottom: $base-measure / 4;
}

.delay {
  display: block;
  margin-top: $base-measure/2;
}

.deemphasis {
  font-size: 90%;
  font-style: italic;
  margin-bottom: 0;
}

.error {
  border-color: $error-color;
  border-style: dashed;
  border-width: 1px;
  padding: $base-measure / 2;
  margin-bottom: $base-measure;
}

input[type="number"] {
  width: $base-measure * 2;
  text-align: center;
  padding: $base-measure/4;
  margin-right: $base-measure/4;
}

select {
  font-family: $text-font;
}