.headline {
  text-align: center;
  @media screen and (max-width: $break-small) {
    text-align: left;
  }
}

#screenshot {
  display: inline-block;
  vertical-align: top;
  margin-bottom: $base-measure * 3;
  margin-right: $gutter;
  width: $one-column-width;
  padding-bottom: $one-column-width * 2;
  background-repeat: no-repeat;
  background-size: contain;
  @include retina-image("screenshot");
  @media screen and (max-width: $break-small) {
    @include border-radius($base-measure/2);
    @include retina-image("screenshot-mobile");
    background-color: #FFFFFF;
    border: 1px solid #DED8C8;
    width: 100%;
    padding-bottom: 102.777777%;
    margin-right: 0;
  }
}

#features {
  display: inline-block;
  width: $two-column-width;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

.add-to-slack a {
  display: block;
  width: 139px;
  height: 40px;
  margin: 0 auto;
  @media screen and (max-width: $break-small) {
    margin: 0;
  }
}

.floated-header {
  @extend .clearfix;
  margin-bottom: $base-measure;

  h2 {
    float: left;
  }

  button {
    float: right;
    @media screen and (max-width: $break-small) {
      margin-top: $base-measure / 2;
    }
  }

  .fa {
    margin-right: $base-measure / 8;
  }
}

.add-btn {
  position: relative;
}

.message {
  @extend .clearfix;
  display: block;
  clear: both;
  margin: $base-measure / 2 0;
  max-height: $base-measure * 4;
  overflow: hidden;
  position: relative;

  &:after {
    content:"";
    position:absolute;
    top: $base-measure * 2;
    left: 0;
    height: $base-measure * 2;
    width:100%;
    background: linear-gradient(180deg, transparentize($background-color, 1), $background-color);
  }
}

button.primary,
button.secondary {
  font-size: $m-font-size;
}

button.secondary {
  background: none;
  @include border-inside(2px, $button-color);

  a {
    color: $button-color;
  }
}

button.link-btn, button.link-btn a {
  @include border-radius($base-measure / 2);
  background: none;
  border: 0;
  color: $button-color;
  display: inline;
  margin-right: $base-measure / 2;
  padding: 0;

  &:hover {
    color: $button-hover-color;
  }

  &.destructive {
    color: $destructive-color;

    &:hover {
      color: $destructive-hover-color;
    }
  }
}

.action-buttons {
  @extend .clearfix;
  margin: $base-measure / 2 0 $base-measure;

  button {
    float: left;
    margin-right: $base-measure;
    @media screen and (max-width: $break-small) {
      min-height: $base-measure * 2;
      width: 40%;
    }
  }

  @media screen and (max-width: $break-small) {
    margin: $base-measure 0;
  }
}

.action-buttons button.link-btn {
  @media screen and (max-width: $break-small) {
    border: 1px solid $button-color;

    &:hover {
      border-color: $button-hover-color;
    }
    
    &.destructive {
      border-color: $destructive-color;

      &:hover {
        border-color: $destructive-hover-color;
      }
    }
  }
}

.action-buttons form {
  display: inline;
}

.github-button {
  display: none;
}

iframe[src^="https://buttons.github.io"] {
  margin-bottom: $base-measure / 2;
}