<section class="headline">
  <div class="screenshot card-1"></div>
  <h2>Make the first day count</h2>
  <p>New team members have a lot to learn, and it&rsquo;s easy to get overwhelmed. Aloha lets you onboard them gently by delivering what they need to know, when they need to know it.</p>
  <%= erb :'partials/add_to_slack' %>
</section>

<section>
  <div id="screenshots">
    <div class="screenshot"></div>
    <div class="screenshot"></div>
    <div class="screenshot"></div>
  </div>

  <div class="screenshot card-2"></div>

  <div id="features">
    <h2>Culture Doesn&rsquo;t Maintain Itself</h2>
    <p>Every new hire is an opportunity to reinforce it, or dilute it.</p>

    <h3>Communicate Values</h3>
    <p>At most organizations, people aren&rsquo;t on the same page about what they stand for. Share your core values and show how they translate into action.</p>

    <h3>Build Community Standards</h3>
    <p>Need to discipline someone for violating community standards? It&rsquo;s tough when they aren&rsquo;t written down. Lay out the ground rules and best practices on day one.</p>

    <h3>Get People Talking</h3>
    <p>Set up a #lunch channel. If you&rsquo;re a remote team, encourage members to join local channels. Promote your weekly running club (or couch potato night).</p>

    <div class="screenshot card-3"></div>
  </div>
</section>

<section class="headline">
  <h2>Install Aloha Today</h2>
  <p>You can add the bot to your team&rsquo;s Slack with one click.</p>
  <%= erb :'partials/add_to_slack' %>
</section>