
<section class="headline">
  <h2>Stop answering the same questions over and over</h2>
  <p>New team members have a lot to learn, and it&rsquo;s easy to get overwhelmed. Aloha lets you onboard them gently by delivering what they need to know, when they need to know it.</p>
  <%= erb :'partials/add_to_slack' %>
</section>

<section>
  <div id="screenshot"></div>

  <div id="features">
    <h2>Onboarding = Culture</h2>
    <p>Culture doesn&rsquo;t maintain itself. Every new hire is an opportunity to reinforce it, or dilute it.</p>

    <h3>Communicate Values</h3>
    <p>At most organizations, people aren&rsquo;t on the same page about what they stand for. Share your core values and show how they translate into action.</p>

    <h3>Build Community Standards</h3>
    <p>Need to discipline someone for violating community standards? It&rsquo;s tough when they aren&rsquo;t written down. Lay out the ground rules and best practices on day one.</p>

    <h3>Get People Talking</h3>
    <p>Set up a #lunch channel. If you&rsquo;re a remote team, encourage members to join local channels. Promote your weekly running club (or couch potato night).</p>
  </div>
</section>

<section class="headline">
  <h2>What&rsquo;s stopping you?</h2>
  <p>You can add Aloha to your team&rsquo;s Slack with one click. It&rsquo;s easier than you think.</p>
  <%= erb :'partials/add_to_slack' %>
</section>

<section class="headline">
  <h2>Want to contribute?</h2>
  <p>Aloha is free and open-source, and the vibes are always chill.</p>
  <a class="github-button" href="https://github.com/ftwnyc/aloha" data-size="large" aria-label="View ftwnyc/aloha on GitHub">View Source</a>
</section>