<section class="headline">
  <h2>Stop answering the same questions over and over</h2>
  <p>New team members have a lot to learn, and it&rsquo;s easy to get overwhelmed. Aloha lets you onboard them gently by delivering what they need to know, when they need to know it.</p>
  <div class="add-to-slack">
    <a href="https://slack.com/oauth/authorize?scope=bot&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</section>

<section>
  <div id="screenshot"></div>

  <div id="features">
    <h2>Onboarding = Culture</h2>
    <p>Culture doesn&rsquo;t maintain itself. Every new hire is an opportunity to reinforce it, or dilute it. Here are some ways you can use Aloha to keep your culture awesome:</p>

    <h3>Communicate Values</h3>
    <p>At most organizations, people don&rsquo;t know what the values are. Even if they do, they&rsquo;re usually not on the same page about what they mean in practice. Try sharing your core values with examples of how they translate into action.</p>

    <h3>Build Community Standards</h3>
    <p>Need to discipline someone for violating community standards? It&rsquo;s tough to do when they don&rsquo;t know what those standards are. Set expectations by laying out ground rules and best practices on day one.</p>

    <h3>Get People Talking</h3>
    <p>Set up a #lunch channel. If you&rsquo;re a remote team, encourage members to join local channels with others near them.</p>
  </div>
</section>

<section>
  <h2>What&rsquo;s stopping you?</h2>
  <p>You can add Aloha to your team&rsquo;s Slack with one click. It&rsquo;s easier than you think.</p>
  <div class="add-to-slack">
    <a href="https://slack.com/oauth/authorize?scope=bot&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</section>