<!DOCTYPE html>
<html>
<head>
  <title>Aloha! Automated Onboarding for Slack Teams</title>
  
  <meta property="og:title" content="Aloha! Automated Onboarding for Slack Teams" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="It’s easy for new team members to get overwhelmed with information. Aloha lets you onboard them gently by delivering what they need to know, when they need to know it." />
  <meta property="og:url" content="https://aloha.ftw.nyc/" />
  <meta property="og:image" content="https://aloha.ftw.nyc/assets/images/aloha-og-image.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if ENV['SLACK_APP_ID'] %>
  <meta name="slack-app-id" content="<%= ENV['SLACK_APP_ID'] %>">
  <% end %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="/javascript/vendor/jquery-3.2.1.min.js"></script>
  <script src="/javascript/app.js"></script>
</head>
<body>
  <header>
    <div class="logo">
      <% if request.path == "/" %>
      <h1>Aloha!</h1>
      <% else %>
      <h1><a href="/">Aloha!</a></h1>
      <% end %>
    </div>
    <% if logged_in? %>
    <div class='logout'>
      <form action="/app/logout" method="post">
        <%= Rack::Csrf.tag(env) %>
        <button class="link-btn"><span><i class="fa fa-sign-out"></i> Sign Out</span></button>
      </form>
    </div>
    <% else %>
      <div class="sign-in-to-slack">
      <a href="/app/auth/login">
        <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
      </a>
      </div>
    <% end %>
    <% if request.path == "/" %>
    <p>An <strong>onboarding bot</strong> for busy admins and growing Slack teams.</p>
    <% end %>
  </header>
  <%= yield %>
  <footer>
    <a class="ftw-logo" href="https://ftw.nyc">For the Win</a>
    <h3>If you like Aloha, you&rsquo;re going to love For the Win.</h3>
    <p>Visit <a href="https://ftw.nyc">ftw.nyc</a> and learn how to design your employee experience for success.</p>
    <hr />
    <nav>
      <p class="small"><i class="fa fa-lg fa-copyright"></i> Copyright 2017, For the Win</p>
      <p class="small"><i class="fa fa-lg fa-user-secret"></i> <a href="/privacy">Privacy Policy</a></p>
      <p class="small"><i class="fa fa-lg fa-info-circle"></i> <a href="/support">Support</a></p>
    </nav>
  </footer>
</body>
<%= erb :'partials/analytics' %>
</html>
