<section>
  <h2>Aloha is shutting down. Here&rsquo;s what&rsquo;s next.</h2>
  <p>
    If you&rsquo;ve been using Aloha for a while, you may have noticed it hasn&rsquo;t been as reliable the past year and a half. If you installed it recently, it may never have worked for you. And as much as we&rsquo;d like to say &ldquo;We&rsquo;ll have a fix soon,&rdquo; there are better solutions out there for the problem Aloha was built to solve. So over the coming weeks, we&rsquo;ll be shutting down the bot. Read on for more info and transition instructions.
  </p>

  <h3>Why are you shutting down the bot?</h3>
  <p>Aloha was built at a time when there weren&rsquo;t any free options for onboarding users into new Slack teams. Since then, the space has expanded, with <a href="https://www.donut.com/">Donut</a> launching its onboarding product and Slack releasing its <a href="https://slack.com/help/articles/360035692513-Guide-to-Workflow-Builder">Workflow Builder</a>.</p>

  <h3>How long do we have until it shuts down?</h3>
  <p>You&rsquo;ll have until March 1, 2020 to request a copy of your message data, and the bot will continue to send messages until that date. After then, the server will be shut down and the bot will go dark on your Slack.</p>

  <h3>What&rsquo;s your recommended alternative?</h3>
  <p>
    <strong>Free:</strong> Use Slack&rsquo;s template for <a href="https://slack.com/slack-tips/automatically-onboard-new-channel-members">onboarding new channel members</a>.<br>
    <strong>Paid:</strong> Use Donut&rsquo;s <a href="https://www.donut.com/onboarding">onboarding product</a>.
  </p>

  <h3>How can I get my data out?</h3>
  <p>Reach out to <a href="mailto:aloha@ftw.nyc">aloha@ftw.nyc</a> with your request and the name of your Slack team and we&rsquo;ll get back to you ASAP.</p>

  <h3>I remember installing Aloha, but can&rsquo;t get in now. What&rsquo;s up?</h3>
  <p>If you&rsquo;re unable to log in, it may be because someone on your team uninstalled Aloha. </p>

  <h3>Someone on our team installed Aloha, but they left and now I can&rsquo;t get in. What should I do?</h3>
  <p>Reach out to <a href="mailto:aloha@ftw.nyc">aloha@ftw.nyc</a> with your request and the name of your Slack team and we&rsquo;ll get back to you ASAP.</p>

</section>
