<section>
  <h2>Aloha needs your feedback</h2>
  <p>Leave your bug reports, feature requests, and baseless flattery on Aloha&rsquo;s <a href="https://github.com/ftwnyc/aloha/issues">Github Issues Page</a>. You won&rsquo;t regret it.</p>
  <h3>Need help designing your onboarding?</h3>
  <p>Email <a href="mailto:aloha@ftw.nyc">aloha@ftw.nyc</a> to set up an employee experience design consultation.</p>
</section>