<section>
<h2>Roll out the gangplank! Aloha is up and running.</h2>
<p>You should already have received a welcome message from Aloha on Slack.</p>
<p>Head on over to the <a href="/messages">messages dashboard</a> to start customizing your onboarding.</p>
</section>